.chat-page {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    width: 100%;

    .chat-page__header {
        display: grid;
        grid-template-columns: 1fr 130px;
        gap: 10px;
    }

    .chat-page__users-button {
        flex: 0 0 auto;
    }

    .chat-page__body {
        display: grid;
        grid-template-rows: 1fr 80px;
        gap: 10px;
        flex: 1 1;
        overflow: hidden;
    }
}