.channel {
    display: grid !important;
    grid-template-areas:
        "T A"
        "M A";
    grid-template-columns: 1fr 200px;
    grid-template-rows: 20px 1fr;
    min-width: 200px;
    gap: 10px;
    padding: 10px;

    &__title {
        gap: 10px;
        grid-area: T;
        font-weight: 600;
        // max-width: 200px;

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    &__owner-mark {
        grid-area: M;
        width: 90px;
        font-weight: 300;
        font-style: italic;
    }

    &__actions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        height: 80px;
        grid-area: A;
    }
}

@media (max-width: 350px) {
    .channel {
        grid-template-areas:
            "T"
            "M"
            "A";
        grid-template-columns: 1fr;
        grid-template-rows: 20px 40px 1fr;
    }
}